<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
      <nav class="navbar  navbar-expand-sm navbar-light bg-primary">
        <a href="" class="navbar-brand mb-0 h1">
            <!-- <img class="d-inline-block align-top" src="/icon.PNG" width="30" height="30" > -->
            

            <svg width="30px" height="30px" viewBox="0 0 237 230" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Adding-layers" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.938220796">
                    <g id="iMac-21.5&quot;" transform="translate(-856.000000, -402.000000)" fill="#69228D" stroke="#69228D">
                        <g id="Group-2" transform="translate(856.000000, 402.000000)">
                            <path d="M113.084053,109.534685 L113.124349,109.538356 C113.138662,109.537094 113.152971,109.535864 113.167278,109.534666 C118.437427,110.352338 122.236161,114.137345 125.376472,118.02228 C129.07589,122.650855 133.5,129.68589 133.5,136.25 C133.5,142.618755 132.157575,147.524798 128.8535,151.825598 C125.587175,156.077259 119.178329,158.771315 113.818238,159.19252 C113.803189,159.193703 113.788129,159.194869 113.773427,159.196022 C113.761517,159.199409 113.749519,159.202603 113.737427,159.205592 C113.544704,159.25323 113.348836,159.243492 113.151732,159.235523 C113.145115,159.235255 113.1385,159.23499 113.13186,159.234726 C113.125369,159.23498 113.118868,159.235233 113.112357,159.235483 C112.869341,159.24481 112.640599,159.249676 112.413986,159.249953 C107.057303,158.76547 100.659337,156.072718 97.3965005,151.825598 C94.0924246,147.524798 92.75,142.618755 92.75,136.25 C92.75,129.687911 97.1711732,122.654503 100.64063,118.312103 C103.834,114.315255 107.715763,110.34685 112.467745,109.617333 C112.478766,109.615641 112.489788,109.613967 112.500348,109.612299 C112.509869,109.609478 112.519596,109.606645 112.529534,109.603799 C112.822915,109.519778 112.95373,109.52383 113.084053,109.534685 Z M113.481539,123.93019 C111.896178,123.93019 110.466623,124.343859 109.34015,124.889673 C108.593126,125.25163 107.97876,125.672182 107.536739,126.068049 C106.909001,126.630242 106.645932,127.168949 106.645932,127.5 C106.645932,127.805341 106.792539,128.109426 107.191296,128.357802 C107.437737,128.511304 107.801239,128.647978 108.267806,128.756244 C109.060971,128.940296 110.181299,129.055173 111.500608,129.109333 L111.50228,137.864257 C111.004739,137.80341 110.451787,137.727508 109.86686,137.647276 C106.723163,137.216065 102.7211,136.726113 101.142041,137.557586 C100.688968,137.796157 100.380553,138.117208 100.18338,138.490368 C100.179856,138.497038 100.176366,138.503727 100.172946,138.510455 L100.159943,138.500151 C100.052795,138.748716 99.9776241,138.996357 99.9416493,139.238979 C99.659229,141.14368 101.598761,144.045386 102.789885,145.121077 C104.19123,146.386615 108.619993,149.070033 113.032104,149.062499 C117.621727,149.054663 122.192751,146.302026 123.46585,145.115816 C124.475577,144.175002 126.873966,141.195683 126.748856,139.345944 C126.731499,139.089325 126.663088,138.817703 126.555112,138.538053 L126.572,138.587 L126.705131,138.492455 C126.57298,138.168295 126.353514,137.884473 126.022387,137.659114 L125.873569,137.566164 C124.304237,136.667007 119.921241,137.185209 116.529744,137.638404 C116.172735,137.68611 115.827536,137.732243 115.499039,137.774729 L115.500783,129.109081 C116.810498,129.054848 117.917182,128.940124 118.699946,128.75665 C119.163011,128.64811 119.523026,128.510983 119.767078,128.357048 C120.160383,128.108971 120.306365,127.805897 120.306365,127.5 C120.306365,127.168811 120.043851,126.63 119.417579,126.067678 C118.976626,125.671752 118.363711,125.2512 117.618034,124.889278 C116.493898,124.343669 115.066581,123.93019 113.481539,123.93019 Z M124.483817,139.927369 C121.792074,141.537714 117.651605,143.375434 113.5,143.375434 C111.008499,143.375434 108.487899,142.714112 106.271898,141.837051 C108.506989,142.642149 111.018572,143.267251 113.5,143.267251 C117.44717,143.267251 121.390852,141.686449 124.2804,140.044391 Z" id="Combined-Shape"></path>
                            <path d="M118.5,0.5 C151.0848,0.5 180.5848,13.7075999 201.9386,35.0613998 C223.2924,56.4151998 236.5,85.9151998 236.5,118.5 C236.5,143.218535 228.899675,166.161953 215.908182,185.120607 C202.642108,204.479961 183.754937,219.684585 161.598982,228.381621 L161.486535,227.884631 C160.059149,222.130702 159.551561,217.861686 159.993805,215.078464 C160.500153,211.891806 161.831074,208.711914 163.021537,205.856444 C164.39376,202.565001 165.549986,199.687701 165.244333,197.674932 C164.840744,195.017247 163.457505,192.87496 161.958208,190.583042 C160.670798,188.615024 159.300468,186.529991 158.477946,183.85314 C156.647137,177.894879 157.242981,169.376186 158.446994,166.974045 C158.660313,166.54845 158.899212,166.088726 159.155318,165.595842 C162.047364,160.030003 167.067344,150.317267 162.722205,137.835615 C162.651681,137.63303 162.541764,137.349377 162.40478,136.996432 C161.477242,134.606584 159.248097,128.911433 159.994704,123.82258 C160.39521,121.092744 161.625153,118.529498 162.782498,116.10107 C164.203258,113.119921 165.497642,110.332638 165.247758,107.702705 C165.005587,105.153942 163.387961,102.17193 161.758888,99.2084247 L161.152173,98.1004321 C159.522283,95.1004238 158.03831,92.1765146 158.490838,89.845279 C158.862523,87.9305115 159.968502,86.7450597 161.008812,85.6043284 C161.626122,84.9274296 162.225257,84.2653323 162.679086,83.5066815 C166.448011,77.2062969 169.470074,67.0686187 169.470074,57.4578521 C169.470074,49.7848617 167.538747,42.4612257 162.599162,37.6421094 C161.50941,36.5789344 159.544666,35.4536038 156.689077,34.2871289 C151.917709,36.0738387 149.262125,38.4496815 147.513648,42.0923425 C145.598801,46.0816071 144.791146,51.6306924 144.002371,59.701365 C143.679714,63.0027583 142.298891,67.8256003 140.812659,70.5076517 C140.280013,71.4688635 138.347236,72.069273 135.226648,72.4984474 C135.101175,72.4895175 134.862331,72.4428509 134.639132,72.2390179 C134.462036,72.0772884 134.301553,71.8254637 134.188891,71.4499252 C133.980968,70.756849 133.943291,69.6990911 134.24161,68.0912113 C134.369992,67.3992571 135.21071,66.1458809 136.096448,64.7783243 C137.322553,62.8852503 138.634107,60.7975068 138.747947,59.5452679 C138.812275,58.8376602 138.113542,57.6843749 136.329182,56.12365 C136.114698,56.0133335 132.321022,55.1212394 129.209442,57.3430896 C128.157299,58.0943813 127.39021,59.3079185 126.572298,60.6341286 C125.462558,62.4335245 124.242831,64.4560272 121.796931,65.5430942 C121.488432,65.680205 121.1409,65.6326815 120.756979,65.4554872 C120.271899,65.2316045 119.741489,64.8094269 119.157163,64.202171 C118.934387,63.7822947 117.493655,60.8849162 118.474893,57.9064506 C118.831686,56.823434 119.688234,55.8048237 120.58536,54.7144424 C121.980067,53.019293 123.46683,51.1707146 123.746531,48.8087997 C123.831877,48.0880943 123.655691,47.4011006 123.205432,46.7507268 C122.79647,46.1600049 122.149977,45.5950723 121.253048,45.0687612 C121.204998,45.0439563 117.993777,43.5631598 112.943557,45.3501605 C110.486139,46.2197085 107.581607,47.8720609 104.40573,50.8874009 C104.050533,51.224643 103.608616,51.6184256 103.110553,52.0624018 C100.689341,54.2206857 96.9874556,57.5403952 95.2942178,61.2944213 C94.4379074,63.1929213 94.1150379,65.2075132 93.8193905,67.0849498 C93.4498348,69.4317239 93.1623029,71.5772024 91.6719825,72.8726348 C91.2006488,73.2823325 90.7200745,73.5319148 90.2225623,73.602988 C89.7606829,73.6689708 89.2897548,73.5782602 88.8077304,73.3447632 C88.2540689,72.7226002 83.9126404,67.6549691 81.7335434,59.3727767 C81.0850137,56.9078806 81.0662703,53.8752264 81.040955,50.8191388 C81.0086081,46.9141817 80.9592402,42.9753398 79.7097288,40.0534054 C78.9538226,38.2857478 77.9460957,37.0119147 76.7055921,36.2144481 C75.4501521,35.4073795 73.9504213,35.0800212 72.2009681,35.2524099 C72.0945312,35.2747848 65.2875156,37.4095277 60.2805089,51.0780172 C57.879384,57.6327819 57.2803701,68.3081804 60.2828423,76.1782237 C61.1425577,78.431699 63.1429032,80.6162216 64.9096593,82.5267191 C65.7519582,83.4375466 66.5368168,84.2842475 67.0972002,85.0462302 C69.4875824,88.2965581 69.9182495,90.2560614 69.6055469,91.3642105 C69.2511467,92.6201267 68.1931499,93.7705303 67.061001,95.0374942 C65.9978262,96.2272705 64.8601798,97.5073529 64.058512,99.0152909 C62.5292423,101.891849 62.1728948,105.781685 62.0192725,107.51172 C61.7403753,110.608307 62.0929521,112.499713 63.7864681,116.687452 C64.8235757,118.795714 67.1109524,123.457956 67.0000844,129.490813 C66.923503,133.657975 66.0185058,138.0555 65.1797981,142.144617 C64.2873562,146.495716 63.4755909,150.50418 63.7520534,153.545268 C63.8618294,154.752804 64.8042016,156.706056 66.0369151,159.200233 C68.3682308,163.917235 71.7188274,170.664285 71.7500045,178.002124 C71.7599734,180.348408 70.5691561,182.621727 69.0885461,185.515243 C67.2819,189.045922 65.0263242,193.460489 63.7593948,199.90353 C62.9907313,203.812611 63.0651641,211.690435 64.001554,223.539391 L63.973,223.177 L63.9568469,223.16817 C45.1898663,213.367808 29.3862588,198.666963 18.2442202,180.76331 L17.7627262,179.982878 C6.81169177,162.077539 0.5,141.025842 0.5,118.5 C0.5,85.9151998 13.7075999,56.4151998 35.0613998,35.0613998 C56.4151998,13.7075999 85.9151998,0.5 118.5,0.5 Z" id="Combined-Shape"></path>
                            <g id="Group" transform="translate(79.276284, 101.305269)">
                                <path d="M2.59902604,0.477586428 C2.22397564,0.745479571 0.669477865,2.03855394 0.171744145,4.21186626 C-0.0572480485,5.21174137 -0.0572480485,7.14111928 0.171744145,10 C2.19815907,7.01257613 3.77150851,5.5188642 4.89179246,5.5188642 C6.0120764,5.5188642 7.58174583,7.01257613 9.60080072,10 C9.84451297,6.56105578 9.84451297,4.32048789 9.60080072,3.2782963 C9.17356292,1.45129074 7.58337246,0.69061301 7.26687583,0.477586428 C6.38591274,-0.115369497 3.5498376,-0.20156469 2.59902604,0.477586428 Z" id="Path-7"></path>
                                <path d="M61.8327638,0.477586428 C61.4577134,0.745479571 59.9032156,2.03855394 59.4054819,4.21186626 C59.1764897,5.21174137 59.1764897,7.14111928 59.4054819,10 C61.4318968,7.01257613 63.0052462,5.5188642 64.1255302,5.5188642 C65.2458141,5.5188642 66.8154835,7.01257613 68.8345384,10 C69.0782507,6.56105578 69.0782507,4.32048789 68.8345384,3.2782963 C68.4073006,1.45129074 66.8171102,0.69061301 66.5006135,0.477586428 C65.6196505,-0.115369497 62.7835753,-0.20156469 61.8327638,0.477586428 Z" id="Path-7-Copy"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            Index Page</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu"><span class="navbar-toggler-icon"></span></button>
            <div 
                class="collapse navbar-collapse" 
                id="navbarMenu">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="/" class="nav-link active">
                            Index
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/new" class="nav-link">
                            New
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/edit" class="nav-link">
                            Edit
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/seed" class="nav-link">
                            Seed
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="/Clear" class="nav-link">
                            Clear
                        </a>
                    </li>
                </ul>
            </div>
      </nav>
      <div class="container-fluid vh-100">
        <ul>
            <div class="container">
                <div class="row row-cols-lg-3">
                    <% for(let i = 0; i < artist.length; i++){ %>
                    <div class="col text-justify p-3">
                        <a href="/show/<%=artist[i].id%>">
                        <img src="<%=artist[i].image%>" alt=""  width="300"></a><br>
                        <!-- <%=artist[i].description%> -->
                    </div>
                    <!-- <%if(i%2 === 1){%>
                        <div class="w-100"></div>
                    <%}%> -->
                    <% } %>
                    </div>
            </div>
        </ul>
      </div>
    
  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</html>